// GLOBAL
$fa-font-path: "~font-awesome/fonts";

$global-padding: 1rem;
$global-margin: 1rem;

// COLORS
 $light-gray: #F2F2F2;
 $gray: #D3D1D0;
 $dark-gray: #828282;
 
 $white: #fff;
 $body-color: #333333;
 $red: #EB5757;
 $darkred: #c53636;
 $green: #27AE60;
 $darkgreen: #1b8a4a;

// TYPOGRAPHY
$font-family-sans-serif: 'Lato';

$font-size-root: 14px;
$font-size-h1: 2.6rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.3rem;
